/**
 * styles/layout/about.css
 */

#about {
	display: flex;
	gap: var(--spacing-m) var(--spacing-l);
	padding-block: var(--spacing-l);
	padding-inline: var(--spacing-m);

	& > article {
		display: grid;
		grid-template:
			'picture picture picture'
			'p1 p2 p3';
		gap: var(--spacing-m) var(--spacing-l);

		& picture {
			grid-area: picture;
		}
	}
	& > aside {
		display: grid;

		& > header {
			font-weight: var(--font-weight-semi-bold);
			text-align: center;
		}
		& > svg {
			align-self: end;
			inline-size: 100%;
		}
	}
}
