/**
 * styles/layout/about.css
 */

#about {
	display: grid;
	grid-template: 'picture' 'title' 'p1' 'p2' 'p3' 'p4' 'p5' 'p6' 'p7' 'subtitle' 'button';
	min-block-size: 100vb;
	padding-block: var(--spacing-xl) var(--spacing-l);
	padding-inline: var(--spacing-m);
	gap: var(--spacing-m) var(--spacing-l);

	& > h2 {
		grid-area: title;
		justify-self: center;
	}
	& > .image {
		display: grid;
		grid-area: picture;
		grid-template-columns: min-content;
		place-self: center center;
		transform: rotate(-5deg);
		border: var(--color-picture-border) 0.75rem solid;
		background-color: var(--color-picture-border);
		filter: drop-shadow(-0.25rem 0.5rem 0.75rem var(--color-shadow));

		/* & > :is(picture, blockquote) {
			grid-row: 1;
			grid-column: 1;
		} */
		& img {
			max-block-size: 35svb;
			inline-size: auto;
			min-inline-size: 50vmin;
			object-fit: cover;
			object-position: top;
		}
		& > blockquote {
			z-index: 1;
			align-self: end;
			margin-block-start: 0.5rem;
			margin-inline: 0.5ch;
			color: var(--color-text-on-picture-border);
			font-size: var(--font-size-ml);
			text-wrap: balance;
		}
	}
	& > p {
		margin-block: 0;
	}
	& > p:not(.subtitle) {
		text-align: justify;
	}
	& .subtitle {
		grid-area: subtitle;
		align-self: end;
	}
	& .button {
		grid-area: button;
		place-self: start center;
	}

	@media (1100px > width >= 800px) {
		grid-auto-flow: column;
		grid-template: 'title p3' 'picture p4' 'picture p5' 'p1 p6' 'p2 p7' 'subtitle subtitle' 'button button' / 1fr 1fr;
		grid-template-rows: masonry;

		& > h2 {
			margin-block: unset;
		}
		& > .image img {
			min-inline-size: 25vmin;
			max-inline-size: unset;
		}
	}

	@media (width >= 1100px) {
		grid-template:
			'title title .' 'picture p1 .' 'picture p2 .' 'picture p3 .' 'picture p4 .' 'picture p5 .' 'picture p6 .' 'picture 7 .' 'picture subtitle .' '. button .' / minmax(
				min-content,
				1fr
			)
			minmax(auto, var(--max-line-length)) 1fr;

		/* padding-inline: var(--spacing-l); */

		/* gap: var(--spacing-m) var(--spacing-l); */

		& > .image {
			margin-inline: var(--spacing-m);
		}
		& > .image img {
			max-block-size: 45svb;
			min-inline-size: 25vi;
			max-inline-size: min(50vi, 90%);
		}
		& > p {
			grid-column: 2;
		}
	}
}
