/**
 * styles/layout/album.css
 */

.album {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 30vw));
	grid-template-rows: masonry;
	justify-content: center;
	padding-block: var(--spacing-xl);
	padding-inline: var(--spacing-m);
	gap: var(--spacing-s);

	& > picture {
		overflow: hidden;
		background-color: var(--color-bg-secondary);

		&.portrait {
			grid-row: span 2;
		}
		& > img {
			object-fit: cover;

			@supports (not (grid-template-rows: masonry)) {
				block-size: 100%;
				inline-size: 100%;
			}
		}
	}
}
