/**
 * styles/layout/footer.css
 */

#contact {
	display: grid;
	grid-template: 'header' auto 'vcard' 1fr;
	min-block-size: 100lvb;
	gap: var(--spacing-l);
	justify-items: center;
	padding-block: var(--spacing-xl);

	& > header {
		display: flex;
		grid-area: header;
		flex-direction: column;
		gap: var(--spacing-l);

		& img {
			max-block-size: 30lvb;
			object-fit: cover;
		}
		& > .subtitle {
			padding-inline: var(--spacing-m);
			font-size: var(--font-size-header-s);
			font-weight: var(--font-weight-light);
			text-align: center;
		}
	}
	& > .vcard {
		grid-area: vcard;
		align-self: center;
		margin-inline: var(--spacing-l);
	}
}
