/**
 * styles/layout/footer.css
 */

#footer {
	display: grid;
	grid-template:
		'social'
		'navigation'
		'copyright'
		'version';
	align-items: center;
	margin-block-start: var(--spacing-xl);
	padding-block: var(--spacing-l);
	padding-inline: var(--spacing-m);
	background-color: var(--color-bg-secondary);
	color: var(--color-onbg-secondary);
	font-size: var(--font-size-s);
	gap: var(--spacing-s) var(--spacing-m);
	justify-items: center;

	& > .copyright {
		grid-area: copyright;
	}
	& > .version {
		grid-area: version;
	}
	& > .social {
		display: flex;
		grid-area: social;
		gap: var(--spacing-m);

		& svg {
			inline-size: 2em;
		}
	}
	& > nav {
		grid-area: navigation;
	}

	@media (min-width: 800px) {
		grid-template:
			'social social .  navigation navigation'
			'version . copyright . .';
		justify-items: stretch;

		& .copyright {
			justify-self: center;
		}
	}
}
