/**
 * styles/layout/footer.css
 */

#footer {
	display: grid;
	grid-template:
		'social'
		'navigation'
		'logo'
		'copyright'
		'version'
		'lang';
	place-items: center center;
	margin-block-start: var(--spacing-xl);
	padding-block: var(--spacing-l);
	padding-inline: var(--spacing-m);
	background-color: var(--color-bg-secondary);
	color: var(--color-text-secondary);
	font-size: var(--font-size-s);
	gap: var(--spacing-s) var(--spacing-m);

	& > .copyright {
		grid-area: copyright;
	}
	& > .logo {
		grid-area: logo;
		inline-size: 10rem;
	}
	& > .version {
		grid-area: version;
	}
	& > .social {
		display: flex;
		grid-area: social;
		gap: var(--spacing-m);

		& svg {
			inline-size: 2em;
		}
	}
	& > nav {
		grid-area: navigation;
	}
	& > .lang-selector {
		grid-area: lang;
		margin-block-start: var(--spacing-m);
	}

	@media (width >= 800px) {
		grid-template:
			'social logo logo logo navigation'
			'lang logo logo logo .'
			'lang copyright copyright copyright version';
		place-items: end center;

		& > .logo {
			inline-size: 20em;
			margin-block-end: -2rem; /* Align the logo with the text */
		}
		& > :is(nav, .version) {
			justify-self: end;
		}
		& > :is(.social, .lang-selector) {
			justify-self: start;
		}
	}
}
