/**
 * styles/layout/header.css
 */

#header {
	display: grid;
	grid-template:
		[image-start] '.' 1fr
		'logo' auto [image-end]
		'title' auto
		'subtitle' auto;
	justify-items: stretch;
	align-items: end;
	block-size: 100vh; /* fallback */
	block-size: 100svb;

	& > h1 {
		display: flex;
		grid-area: logo;
		justify-content: center;
		margin: 0;
		padding-block: var(--spacing-xs) var(--spacing-s);
		background: var(--color-bg-onpicture);
		color: var(--color-onpicture);

		& > svg {
			inline-size: min(80vw, 40rem);
		}
	}
	& > .title {
		grid-area: title;
		margin-block-start: var(--spacing-m);
		color: var(--color-onbg);
		font-family: var(--font-family-header);
		font-size: var(--font-size-header-xl);
		font-weight: var(--font-weight-normal);
		text-align: center;
		text-wrap: balance;
	}
	& > .subtitle {
		grid-area: subtitle;
		margin-block-end: var(--spacing-m);
		color: var(--color-onbg-subtle);
		font-size: var(--font-size-header-s);
		font-weight: var(--font-weight-light);
		text-align: center;
		text-wrap: balance;
	}
	& > .carousel {
		display: flex;
		position: relative;
		z-index: -1;
		grid-area: image / 1;
		align-self: stretch;
		overflow: hidden;
	}
	& .pause {
		position: absolute;
		inset-inline-end: max(1vi, 1rem);
		inset-block-start: calc(var(--font-size-m) * 1.3 + 2rem + var(--spacing-l));
		z-index: 1;
		cursor: pointer;

		& > svg {
			stroke: currentcolor;
			fill: none;
		}
		&:hover {
			color: var(--color-accent);
		}
	}
	& .hero {
		--display: 5s;
		--delay: calc((var(--nth-child) - 1) * var(--display));
		position: absolute;
		flex: 0 0 100%;
		inset: 0;

		@media (prefers-reduced-motion: no-preference) {
			animation: carousel calc(var(--images) * var(--display)) ease var(--delay) infinite;
		}

		&:not(:first-child) {
			opacity: 0;
		}
		& > img {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			object-position: top;
		}
	}
}

#pause-hero-carousel:checked {
	& ~ .pause {
		& > svg {
			stroke: none;
			fill: currentcolor;
		}
	}
	& ~ .carousel > .hero {
		animation-play-state: paused;
	}
}

@keyframes carousel {
	0% {
		/* transform: translateX(100%);
		opacity: 0; */
	}
	10% {
		transform: translateX(0);
		opacity: 1;
	}
	25% {
		transform: translateX(0);
		opacity: 1;
	}
	35% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
