a.hamburger {
	padding: 0.5rem;
	border-color: transparent;
	background-color: transparent;
	font-size: inherit;

	&:is(:hover, :focus) {
		border: unset;
	}
}

.dismiss {
	display: flex;
	position: fixed;
	inset-inline: 0;
	inset-block-end: 2vb;
	z-index: 10;
	justify-content: center;
	padding: 0.5rem;
	transform: translateY(-100vb);
	transform-origin: top;
	transition: transform 0.3s ease-in-out;
}

nav {
	display: flex;
	z-index: 10; /* MAke sure it's on top of everything else */
	justify-content: center;

	& > .hamburger {
		display: none;
	}
	& > ul {
		display: flex;
		padding: unset;
		list-style: none;
		gap: 2em;
	}
	& a {
		padding-block: 0.5em;
		transition: var(--transition-color);
		color: currentcolor;
		text-decoration: none;
		white-space: nowrap;
		border-block-end: 1px solid transparent;

		&:is(:hover, :focus) {
			color: var(--color-accent);
		}
	}
}

body > nav {
	position: fixed;
	inset-block-start: 0;
	inline-size: 100%;

	& > ul {
		flex-grow: 1;
		justify-content: center;
		margin: unset;
		padding-block: 1em;
		background: var(--color-overlay-fallback);

		@supports (backdrop-filter: blur(30px) saturate(125%)) {
			/* Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb */
			backdrop-filter: blur(30px) saturate(125%);
			background: var(--color-overlay);
		}
	}
	& a.active {
		border-image-source: linear-gradient(
			to right,
			transparent -25%,
			currentcolor 25%,
			currentcolor 75%,
			transparent 125%
		);
	}
	& a:is(:hover, :focus) {
		color: var(--color-accent);
		border-image-source: linear-gradient(
			to right,
			transparent -25%,
			var(--color-accent) 25%,
			var(--color-accent) 75%,
			transparent 125%
		);
		border-image-slice: 1;
	}
	& a:focus-visible {
		outline: none;
	}

	@media (width < 800px) {
		flex-direction: column;
		justify-content: start;
		font-size: var(--font-size-l);
		pointer-events: none;
		inset: 0;

		& > a.hamburger {
			display: block;
			background: var(--color-overlay-fallback);
			pointer-events: all;

			@supports (backdrop-filter: blur(30px) saturate(125%)) {
				/* Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb */
				backdrop-filter: blur(30px) saturate(125%);
				background: var(--color-overlay);
			}
		}
		& > ul {
			flex-direction: column;
			align-items: stretch;
			justify-content: start;
			padding: 1rem;
			transform: scaleY(0);
			transform-origin: top;
			transition: transform 0.3s ease-in-out;

			& a {
				display: block;
				border: unset;
				text-align: center;
			}
		}
		&:focus-within {
			& > a.hamburger {
				pointer-events: none;
			}
			& > ul {
				transform: scaleY(1);

				& a {
					pointer-events: all;
				}
			}
			& + .dismiss {
				transform: translateY(0) scaleY(1);
			}
		}
	}
}
