/**
 * styles/layout/photos.css
 */

#photos {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	min-block-size: 100vb;
	padding-block: var(--spacing-xl);
	padding-inline: var(--spacing-m);
	gap: var(--spacing-m);

	& > a {
		display: grid;
		grid-template: 'picture';
		flex-grow: 1;
		max-block-size: calc(50vb - var(--spacing-xl));
		inline-size: 30%;
		min-inline-size: min(300px, 100lvb);
		text-align: center;
		text-decoration: none;

		&.primary {
			inline-size: calc(50% - var(--spacing-m));
		}
		& > h3 {
			z-index: 1;
			grid-area: picture;
			align-self: start;
			margin: unset;
			padding-block-start: var(--spacing-xs);

			/* background: var(--color-overlay); */
			transform-origin: top;
			font-size: var(--font-size-header-l);
			text-transform: uppercase;

			@media (prefers-reduced-motion: no-preference) {
				transition: all 0.5s ease;
			}
		}
		& > picture {
			grid-area: picture;
			flex-grow: 1;
			overflow: hidden;
		}
		& img {
			flex-grow: 1;
			block-size: 100%;
			object-fit: cover;
			filter: var(--img-hover);
			transition: all 0.5s ease;
		}
		&:is(:focus-visible, :hover) {
			& > h3 {
				transform: scaleY(0);
			}
			& img {
				filter: unset;

				@media (prefers-reduced-motion: no-preference) {
					transform: scale(1.2);
				}
			}
		}
	}
}
