#videos {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-block-size: 100vb;
	padding-block: var(--spacing-xl);
	padding-inline: var(--spacing-m);

	& > h2 {
		/* text-align: center; */
		text-wrap: balance;
	}
	& p {
		font-size: var(--font-size-ml);
	}
	& > .videos {
		display: flex;
		flex-wrap: wrap;
		place-content: center space-evenly;
		margin-block-start: var(--spacing-l);
		gap: var(--spacing-m);
	}
	& .video {
		block-size: auto;
		aspect-ratio: 560 / 315;
	}
}
