.button {
	display: inline-block;
	padding-block: var(--spacing-xs);
	padding-inline: var(--spacing-m);
	border-radius: var(--border-radius);
	background-color: var(--color-bg-secondary);
	text-decoration: none;
	cursor: pointer;
}

[lang]:not([lang='es']) {
	.lang-es {
		/* Display only when language is spanish */
		display: none;
	}
}

#weddings {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: var(--spacing-xl);
	padding-inline: var(--spacing-m);
	gap: var(--spacing-s);

	& > h2 {
		grid-area: header;
		text-align: center;
		text-wrap: balance;
	}
	& > .main {
		grid-area: main;
	}
	& > footer {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-m) var(--spacing-s);
		align-self: stretch;
		justify-content: space-around;

		& > .button {
			min-inline-size: 18rem;
			white-space: nowrap;
		}
	}
	& p {
		text-align: justify;
		text-wrap: pretty;
	}
}
