@import "variables";

/** ********************************************************************************************************************
 * Globals
 */

/** ********************************************************************************************************************
 * Layout
 */

article#about {
	> header {
		background-image:
			linear-gradient(
				$dark-overlay-color,
				$dark-overlay-color
			),
			url($image-about);
		background-position: center top;
	}
	p {
		margin: 1rem;
	}
}
