@import "variables";

/** ********************************************************************************************************************
 * Globals
 */

/** ********************************************************************************************************************
 * Layout
 */

section#about {
	> header {
		background-image:
			linear-gradient(
				$dark-overlay-color,
				$dark-overlay-color
			),
			url($image-about);
		background-position: center top;
	}
	> p {
		text-align: justify;
		margin: 1em 15vw;
	}
}
