:root {
	--intro-bg: url('assets/images/layout/intro.jpg');
	--contact-bg: url('assets/images/layout/contact.jpg');
	--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes.jpg');
	--cat-2-bg: url('assets/images/pictures/Portraits.jpg');
	--cat-3-bg: url('assets/images/pictures/Families & Kids.jpg');
	--cat-4-bg: url('assets/images/pictures/Lifestyle.jpg');
	--cat-5-bg: url('assets/images/pictures/Travel%20the%20World.jpg');
	--cat-6-bg: url('assets/images/pictures/Weddings.jpg');

	@media (max-width: 2560px) {
		--intro-bg: url('assets/images/layout/intro-w2560.jpg');
		--contact-bg: url('assets/images/layout/contact-w2560.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w2560.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w2560.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w2560.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w2560.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w2560.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w2560.jpg');
	}

	@media (max-width: 1920px) {
		--intro-bg: url('assets/images/layout/intro-w1920.jpg');
		--contact-bg: url('assets/images/layout/contact-1w920.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w1920.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w1920.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w1920.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w1920.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w1920.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w1920.jpg');
	}

	@media (max-width: 1600px) {
		--intro-bg: url('assets/images/layout/intro-w1600.jpg');
		--contact-bg: url('assets/images/layout/contact-w1600.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w1600.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w1600.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w1600.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w1600.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w1600.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w1600.jpg');
	}

	@media (max-width: 1366px) {
		--intro-bg: url('assets/images/layout/intro-w1366.jpg');
		--contact-bg: url('assets/images/layout/contact-w1366.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w1366.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w1366.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w1366.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w1366.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w1366.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w1366.jpg');
	}

	@media (max-width: 1024px) {
		--intro-bg: url('assets/images/layout/intro-w1024.jpg');
		--contact-bg: url('assets/images/layout/contact-w1024.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w1024.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w1024.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w1024.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w1024.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w1024.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w1024.jpg');
	}

	@media (max-width: 768px) {
		--intro-bg: url('assets/images/layout/intro-w768.jpg');
		--contact-bg: url('assets/images/layout/contact-w768.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w768.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w768.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w768.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w768.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w768.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w768.jpg');
	}

	@media (max-width: 640px) {
		--intro-bg: url('assets/images/layout/intro-w640.jpg');
		--contact-bg: url('assets/images/layout/contact-w640.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w640.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w640.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w640.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w640.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w640.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w640.jpg');
	}

	@media (max-width: 320px) {
		--intro-bg: url('assets/images/layout/intro-w320.jpg');
		--contact-bg: url('assets/images/layout/contact-w320.jpg');
		--cat-1-bg: url('assets/images/pictures/Artistic%20Nudes-w320.jpg');
		--cat-2-bg: url('assets/images/pictures/Portraits-w320.jpg');
		--cat-3-bg: url('assets/images/pictures/Families & Kids-w320.jpg');
		--cat-4-bg: url('assets/images/pictures/Lifestyle-w320.jpg');
		--cat-5-bg: url('assets/images/pictures/Travel%20the%20World-w320.jpg');
		--cat-6-bg: url('assets/images/pictures/Weddings-w320.jpg');
	}
}
