body.no-webp {
	--intro-bg: url('../assets/images/layout/intro.jpg');
	--contact-bg: url('../assets/images/layout/contact.jpg');
	--cat-1-bg: url('../assets/images/pictures/category-1.jpg');
	--cat-2-bg: url('../assets/images/pictures/category-2.jpg');
	--cat-3-bg: url('../assets/images/pictures/category-3.jpg');
	--cat-4-bg: url('../assets/images/pictures/category-4.jpg');
	--cat-5-bg: url('../assets/images/pictures/category-5.jpg');
	--cat-6-bg: url('../assets/images/pictures/category-6.jpg');

	@media (max-width: 2560px) {
		--intro-bg: url('../assets/images/layout/intro--2560.jpg');
		--contact-bg: url('../assets/images/layout/contact--2560.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 2560px) {
		--intro-bg: url('../assets/images/layout/intro.jpg');
		--contact-bg: url('../assets/images/layout/contact.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6.jpg');
	}

	@media (max-width: 1920px) {
		--intro-bg: url('../assets/images/layout/intro--1920.jpg');
		--contact-bg: url('../assets/images/layout/contact--1920.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--1920.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--1920.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--1920.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--1920.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--1920.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--1920.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 1920px) {
		--intro-bg: url('../assets/images/layout/intro.jpg');
		--contact-bg: url('../assets/images/layout/contact.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6.jpg');
	}

	@media (max-width: 1600px) {
		--intro-bg: url('../assets/images/layout/intro--1600.jpg');
		--contact-bg: url('../assets/images/layout/contact--1600.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--1600.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--1600.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--1600.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--1600.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--1600.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--1600.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 1600px) {
		--intro-bg: url('../assets/images/layout/intro.jpg');
		--contact-bg: url('../assets/images/layout/contact.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6.jpg');
	}

	@media (max-width: 1366px) {
		--intro-bg: url('../assets/images/layout/intro--1366.jpg');
		--contact-bg: url('../assets/images/layout/contact--1366.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--1366.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--1366.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--1366.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--1366.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--1366.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--1366.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 1366px) {
		--intro-bg: url('../assets/images/layout/intro--2560.jpg');
		--contact-bg: url('../assets/images/layout/contact--2560.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.jpg');
	}

	@media (max-width: 1024px) {
		--intro-bg: url('../assets/images/layout/intro--1024.jpg');
		--contact-bg: url('../assets/images/layout/contact--1024.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--1024.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--1024.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--1024.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--1024.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--1024.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--1024.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 1024px) {
		--intro-bg: url('../assets/images/layout/intro--2560.jpg');
		--contact-bg: url('../assets/images/layout/contact--2560.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.jpg');
	}

	@media (max-width: 640px) {
		--intro-bg: url('../assets/images/layout/intro--640.jpg');
		--contact-bg: url('../assets/images/layout/contact--640.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--640.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--640.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--640.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--640.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--640.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--640.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 640px) {
		--intro-bg: url('../assets/images/layout/intro--1024.jpg');
		--contact-bg: url('../assets/images/layout/contact--1024.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--1024.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--1024.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--1024.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--1024.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--1024.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--1024.jpg');
	}

	@media (max-width: 320px) {
		--intro-bg: url('../assets/images/layout/intro--320.jpg');
		--contact-bg: url('../assets/images/layout/contact--320.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--320.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--320.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--320.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--320.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--320.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--320.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 320px) {
		--intro-bg: url('../assets/images/layout/intro--640.jpg');
		--contact-bg: url('../assets/images/layout/contact--640.jpg');
		--cat-1-bg: url('../assets/images/pictures/category-1--640.jpg');
		--cat-2-bg: url('../assets/images/pictures/category-2--640.jpg');
		--cat-3-bg: url('../assets/images/pictures/category-3--640.jpg');
		--cat-4-bg: url('../assets/images/pictures/category-4--640.jpg');
		--cat-5-bg: url('../assets/images/pictures/category-5--640.jpg');
		--cat-6-bg: url('../assets/images/pictures/category-6--640.jpg');
	}
}

/* If browser supports webp format */
body.webp {
	--intro-bg: url('../assets/images/layout/intro.webp');
	--contact-bg: url('../assets/images/layout/contact.webp');
	--cat-1-bg: url('../assets/images/pictures/category-1.webp');
	--cat-2-bg: url('../assets/images/pictures/category-2.webp');
	--cat-3-bg: url('../assets/images/pictures/category-3.webp');
	--cat-4-bg: url('../assets/images/pictures/category-4.webp');
	--cat-5-bg: url('../assets/images/pictures/category-5.webp');
	--cat-6-bg: url('../assets/images/pictures/category-6.webp');

	@media (max-width: 2560px) {
		--intro-bg: url('../assets/images/layout/intro--2560.webp');
		--contact-bg: url('../assets/images/layout/contact--2560.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 2560px) {
		--intro-bg: url('../assets/images/layout/intro.webp');
		--contact-bg: url('../assets/images/layout/contact.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6.webp');
	}

	@media (max-width: 1920px) {
		--intro-bg: url('../assets/images/layout/intro--1920.webp');
		--contact-bg: url('../assets/images/layout/contact--1920.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--1920.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--1920.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--1920.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--1920.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--1920.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--1920.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 1920px) {
		--intro-bg: url('../assets/images/layout/intro.webp');
		--contact-bg: url('../assets/images/layout/contact.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6.webp');
	}

	@media (max-width: 1600px) {
		--intro-bg: url('../assets/images/layout/intro--1600.webp');
		--contact-bg: url('../assets/images/layout/contact--1600.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--1600.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--1600.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--1600.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--1600.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--1600.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--1600.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 1600px) {
		--intro-bg: url('../assets/images/layout/intro.webp');
		--contact-bg: url('../assets/images/layout/contact.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6.webp');
	}

	@media (max-width: 1366px) {
		--intro-bg: url('../assets/images/layout/intro--1366.webp');
		--contact-bg: url('../assets/images/layout/contact--1366.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--1366.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--1366.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--1366.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--1366.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--1366.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--1366.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 1366px) {
		--intro-bg: url('../assets/images/layout/intro--2560.webp');
		--contact-bg: url('../assets/images/layout/contact--2560.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.webp');
	}

	@media (max-width: 1024px) {
		--intro-bg: url('../assets/images/layout/intro--1024.webp');
		--contact-bg: url('../assets/images/layout/contact--1024.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--1024.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--1024.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--1024.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--1024.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--1024.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--1024.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 1024px) {
		--intro-bg: url('../assets/images/layout/intro--2560.webp');
		--contact-bg: url('../assets/images/layout/contact--2560.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--2560.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--2560.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--2560.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--2560.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--2560.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--2560.webp');
	}

	@media (max-width: 640px) {
		--intro-bg: url('../assets/images/layout/intro--640.webp');
		--contact-bg: url('../assets/images/layout/contact--640.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--640.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--640.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--640.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--640.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--640.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--640.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 640px) {
		--intro-bg: url('../assets/images/layout/intro--1024.webp');
		--contact-bg: url('../assets/images/layout/contact--1024.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--1024.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--1024.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--1024.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--1024.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--1024.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--1024.webp');
	}

	@media (max-width: 320px) {
		--intro-bg: url('../assets/images/layout/intro--320.webp');
		--contact-bg: url('../assets/images/layout/contact--320.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--320.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--320.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--320.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--320.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--320.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--320.webp');
	}

	@media (min-resolution: 2dppx) and (max-width: 320px) {
		--intro-bg: url('../assets/images/layout/intro--640.webp');
		--contact-bg: url('../assets/images/layout/contact--640.webp');
		--cat-1-bg: url('../assets/images/pictures/category-1--640.webp');
		--cat-2-bg: url('../assets/images/pictures/category-2--640.webp');
		--cat-3-bg: url('../assets/images/pictures/category-3--640.webp');
		--cat-4-bg: url('../assets/images/pictures/category-4--640.webp');
		--cat-5-bg: url('../assets/images/pictures/category-5--640.webp');
		--cat-6-bg: url('../assets/images/pictures/category-6--640.webp');
	}
}
