:root {
	--bg-color: hsla(0, 0%, 100%, 1);
	--primary-color: hsl(250, 6%, 19%);
	--secondary-color: hsla(250, 6%, 30%, 0.8);
	--theme-color: hsl(183, 81%, 44%);
	--acrylic-color: hsla(0, 0%, 100%, 0.3);
	--blend-color: hsla(0, 0%, 100%, 0.6);

	@media (prefers-color-scheme: dark) {
		--bg-color: hsl(0, 0%, 0%);
		--primary-color: hsl(0, 0%, 97%);
		--secondary-color: hsla(0, 0%, 75%, 0.8);
		--acrylic-color: hsla(0, 0%, 0%, 0.3);
		--blend-color: hsla(0, 0%, 0%, 0.6);
	}
}
