@import "variables";
@import "mixins";

/** ********************************************************************************************************************
 * Globals
 */

.vcard {
	> * {
		display: block;
	}
	> .fn {
		font-weight: 600;
	}
	> .adr > * {
		display: inline;
	}
	> a,
	> a:hover,
	> a:active {
		color: #2e2d33;
	}
}

/** ********************************************************************************************************************
 * Layout
 */

article#contact {
	> header {
		@include responsiveBackground(linear-gradient($dark-overlay-color, $dark-overlay-color), $image-contact);
		background-position: center top;
	}
	> .vcard {
		text-align: center;
		margin: 2rem auto;
		line-height: 1.5;
	}
}
