@import "variables";

header#header {
	min-width: 100%;
	//flex: 0 0 auto;
	//display: flex;
	//flex-flow: column nowrap;
	//align-items: stretch;
	z-index: 1; // Stay on top of thumbnails

	/* Sticky header */
	top: 0;
	position: fixed;
	//background: $background-color url($image-logo) no-repeat center 2px;
	//padding-top: 80px;
	//background-size: auto 76px;
	//transition: all 0.2s ease-in-out;

	> nav {
		min-height: 32px;
		flex: 0 2 auto;
		display: grid;
		grid-template-columns: 1fr repeat(3, auto) 1fr;
		grid-template-rows: repeat(2, auto);
		justify-content: center;
		align-items: center;
		background-color: $light-overlay-color-3;
		//box-shadow: 0 -2px 4px $dark-overlay-color;
		border-bottom: 1px solid $dark-overlay-color-2;

		> a {
			display: block; // Necessary for -ms-grid support
			padding: 8px 20px;

			&:active:not(.nav-header) {
				background-color: $dark-overlay-color-2;
			}
			&.nav-header {
				//min-width: 100%;
				margin: 0;
				background: url($image-logo) no-repeat center 2px;
				padding-top: 80px;
				background-size: auto 76px;
				transition: all 0.2s ease-in-out;
				justify-self: stretch;
				//flex: 1 0 100%;
				grid-column: 1 / span 5;
				grid-row: 1;
			}
			&.nav-about,
			&.nav-portfolio,
			&.nav-contact,
			&.nav-menu {
				grid-row: 2;
			}
			&.nav-about {
				grid-column: 2;
			}
			&.nav-portfolio {
				grid-column: 3;
			}
			&.nav-contact {
				grid-column: 4;
			}
			&.nav-menu {
				grid-column: 5;
				justify-self: end;
				display: none;
			}

			@media (max-width: 680px) {
				margin: 5px 10px;
			}
		}
	}
}

@supports (backdrop-filter: blur(20px)) {
	header#header > nav {
		background: $light-overlay-color-2;
		backdrop-filter: blur(20px);
	}
}

/**
 * Header animation when scrolling
 */

header#header.shrink {
	//padding-top: 0;

	> nav {
		@media (max-width: 600px) {
			> a {
				&.nav-menu {
					display: block;
				}
			}
			&.open {
				> a {
					&.nav-about,
					&.nav-portfolio,
					&.nav-contact {
						grid-column: 5;
						display: block;
					}
					&.nav-about {
						grid-row: 2;
					}
					&.nav-portfolio {
						grid-row: 3;
					}
					&.nav-contact {
						grid-row: 4;
					}
				}
			}
			&:not(.open) {
				> a {
					&.nav-about,
					&.nav-portfolio,
					&.nav-contact {
						display: none;
					}
				}
				justify-content: flex-end;
			}
		}

		> a {
			&.nav-header {
				min-width: 130px;
				padding-top: 22px; // 22 + 8 = 30
				background-position: 5px center;
				background-size: auto 30px;
				//justify-self: flex-start;
				//flex: 1 0 auto;
				grid-column: 1 / span 1;
				//grid-row: 2;
			}
			&.nav-about,
			&.nav-portfolio,
			&.nav-contact,
			&.nav-menu {
				grid-row: 1;
				justify-self: end;
			}
		}
	}
}

/**
 * Slideshow animation
 * TODO: To be added ad header background
 */

//section#slideshow {
//	flex: 1 1 auto;
//}
//
//.cycle-slideshow {
//	position: relative;
//	overflow: hidden;
//}
//
//.cycle-slideshow > .cycle-prev,
//.cycle-slideshow > .cycle-next {
//	font-size: 56px;
//	color: white;
//	text-shadow: 0 0 5px #2e2d33;
//	display: block;
//	position: absolute;
//	top: 40%;
//	z-index: 100;
//	cursor: pointer;
//	opacity: 0.1;
//}
//
//.cycle-slideshow:hover > .cycle-prev,
//.cycle-slideshow:hover > .cycle-next {
//	opacity: 1;
//}
//
//.cycle-slideshow > .cycle-prev {
//	left: 0.5%;
//}
//
//.cycle-slideshow > .cycle-next {
//	right: 0.5%
//}
//
//.cycle-slideshow > img {
//}
