/**
 * © 2018 Manuel Hamel Photography
 */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,200');
@import "variables";
@import "about";
@import "contact";
@import "header";
@import "portfolio";
@import "icons";

/** ********************************************************************************************************************
 * Globals
 */

html,
body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $primary-color;
	background-color: $background-color;
	min-height: 100vh;
	scroll-behavior: smooth;
}

h2 {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0.5em;
	text-transform: uppercase;

	@media (max-width: 400px) {
		font-size: 36px;
	}
}

nav > a {
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.35em;
	text-transform: uppercase;

	&:hover {
		font-weight: 600;
	}
}

nav > a,
nav > a:hover,
nav > a:visited {
	color: #2e2d33;
	text-shadow: 1px 1px 4px $background-color;
}

.socialmedia {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	> a {
		flex: 0 0 auto;
		margin: 10px;
		font-size: 32px;
	}
}

/** ********************************************************************************************************************
 * Accessibility
 */
.screen-reader-text {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
}

/** ********************************************************************************************************************
 * Layout
 */

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	min-width: 320px;
	//TODO: Add scroll snap point to headers and content pages
	//scroll-snap-type: proximity;
	///* older spec implementation */
	//scroll-snap-destination: 0% 100%;
	//scroll-snap-points-x: repeat(100%);
}

body > article {
	//scroll-snap-align: start;
	// TODO: center the content on the page, following solution adds space before header
	//min-height: 200vh; // 100vh for the header and 100vh for the content
	//display: flex;
	//flex-direction: column;
	//justify-content: space-around;
}

article > header {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;

	/* Create the parallax scrolling effect */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	> h2 {
		margin: 0;
		text-align: center;
		color: $background-color;
		text-shadow: 1px 1px 5px $primary-color;
	}
}

article > section {
	& > p {
		text-align: justify;
		margin: 1em auto;
		max-width: 35em;
	}
}

footer#footer {
	min-width: 100%;
	flex: 0 0 auto;
}
