/**
 * © 2018 Manuel Hamel Photography
 */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,200');
@import 'colors';
@import 'layout';

/** ********************************************************************************************************************
 * Globals
 */

:root {
	font-size: 10px;
	box-sizing: border-box;

	// Initial scrollbar design to avoid jumpy rendering
	scrollbar-color: var(--secondary-color) var(--acrylic-color);
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 0.6rem;
	}
	&::-webkit-scrollbar-track {
		background: var(--acrylic-color);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--secondary-color);
		border-radius: 0.3rem;
	}
}

html,
body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--primary-color);
	background-color: var(--bg-color);
	min-height: 100vh;
	overflow-x: hidden;

	& * {
		outline-color: var(--theme-color);

		&:focus {
			outline-style: solid;
		}
	}
}

a {
	color: var(--theme-color);

	&:hover,
	&:focus,
	&:visited {
		color: var(--theme-color);
	}
}

/** ********************************************************************************************************************
 * Accessibility
 */
.screen-reader-text {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
}

/** ********************************************************************************************************************
 * Style
 */
.acrylic {
	// Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb
	backdrop-filter: blur(30px) saturate(125%);
	background: var(--acrylic-color);
}

.vertical-paging {
	scroll-behavior: smooth;
	// Scrollbar style
	scrollbar-color: var(--secondary-color) var(--acrylic-color);
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 0.6rem;
	}
	&::-webkit-scrollbar:hover {
		width: 1rem;
	}
	&::-webkit-scrollbar-track {
		background: var(--acrylic-color);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--secondary-color);
		border-radius: 0.3rem;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: var(--primary-color);
		border-radius: 0.5rem;
	}
}

.background-image {
	background: var(--bg-image) no-repeat center;
	background-color: var(--blend-color);
	background-size: cover;
	background-blend-mode: overlay;
}
