/**
 * styles/elements/button.css
 */

button {
	&:not(:disabled) {
		cursor: pointer;
	}
}

.button {
	padding-block: var(--spacing-s);
	padding-inline: var(--spacing-l);
	transition: all 0.3s ease;
	border-radius: var(--border-radius);
	background-color: var(--color-button-bg);
	box-shadow: var(--color-shadow) 0.1rem 0.25rem 0.25rem;
	color: var(--color-button-text);
	text-align: center;
	text-decoration: none;

	&:visited {
		color: var(--color-button-text);
	}
	&:hover {
		background-color: var(--color-button-bg--hover);
		box-shadow: var(--color-shadow) 0.2rem 0.35rem 0.35rem;
		color: var(--color-button-text--hover);
	}
	&:active {
		background-color: var(--color-button-bg--active);
		box-shadow: var(--color-overlay) inset 0.15rem 0.15rem 0.5rem;
		color: var(--color-button-text--active);
	}
}
