/**
 * styles/elements/dialog.css
 */

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family-header);
	font-weight: var(--font-weight-normal);
}

h1 {
	font-size: var(--font-size-header-xl);
}

h2 {
	font-size: var(--font-size-header-l);
}

h3 {
	font-size: var(--font-size-header-m);
}
