---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Photos from '../components/Photos.astro';
import Videos from '../components/Videos.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';

export function getStaticPaths () {
 return [
    {params: {path: 'de'}},
    {params: {path: 'en'}},
    {params: {path: 'es'}},
    {params: {path: 'fr'}},
    {params: {path: undefined}},
  ];
}

const { path } = Astro.params;

---

<Layout>
	<Header />
	<Navigation />
</Layout>
<main id="main">
	<About />
	<Photos />
  <Videos />
	<Contact />
</main>
<footer id="footer"><Footer /> <Navigation /></footer>
