---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about">
	<h2>{t('about.title')}</h2>
	<div class="image">
	<picture>
			<source srcset="/assets/img/about-400.avif 400w, /assets/img/about-1920.avif" type="image/avif" />
			<source srcset="/assets/img/about-400.webp 400w, /assets/img/about-1920.webp" type="image/webp" />
			<source srcset="/assets/img/about-400.jpg 400w, /assets/img/about-1920.jpg" type="image/jpg" />
			<img
				src="/assets/img/about-400.jpg"
				width="999"
				height="1774"
				loading="lazy"
				alt="Manual Hamel, photographer"
			/>
		</picture>
		<blockquote>I really believe there are things nobody would see if I didn't photograph them<cite>Diane Arbus</cite></blockquote>
		</div>
		<p>{t('about.p1')}</p>
		<p>{t('about.p2')}</p>
		<p>{t('about.p3')}</p>
		<p>{t('about.p4')}</p>
		<p>{t('about.p5')}</p>
		<p>{t('about.p6')}</p>
		<p>{t('about.p7')}</p>
		<p class="subtitle">{t('about.p8')}</p>
		<a class="button" href="mailto:manuel@mh-photography.com">{t('about.contact')}</a>
</section>
