---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

interface Props {
	path?: string;
}

const { path } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav aria-label="Main Menu">
	<button type="button" class="hamburger" aria-hidden="true"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>{t('nav.menu')}</title><path d="M3 17h18a1 1 0 0 1 .117 1.993L21 19H3a1 1 0 0 1-.117-1.993L3 17h18H3Zm0-6 18-.002a1 1 0 0 1 .117 1.993l-.117.007L3 13a1 1 0 0 1-.117-1.993L3 11l18-.002L3 11Zm0-6h18a1 1 0 0 1 .117 1.993L21 7H3a1 1 0 0 1-.117-1.993L3 5h18H3Z" fill="currentcolor"/></svg></button>
	<ul>
		<li><a href={translatePath('/#home')}>{t('nav.home')}</a></li>
		<li>
			<a href={translatePath('/#about')}>{t('nav.about')}</a>
		</li>
		<li><a href={translatePath('/#photos')}>{t('nav.photos')}</a></li>
		<li><a href={translatePath('/#videos')}>{t('nav.videos')}</a></li>
		<li><a href={translatePath('/#contact')}>{t('nav.contact')}</a></li>
	</ul>
</nav>
