---
interface Props {
	path?: string;
}

const { path } = Astro.props;
---

<nav aria-label="Main Menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href={`${path || ''}#photos`}>Photos</a></li>
		<li>
			<a href={`${path || ''}#about`}>About me</a>
		</li>
		<li><a href={`${path || ''}#contact`}>Contact</a></li>
	</ul>
</nav>
