<nav aria-label="Main Menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="{{context.navPath}}#photos">Photos</a></li>
		<li><a href="{{context.navPath}}#about">About me</a></li>
		<li><a href="{{context.navPath}}#contact">Contact</a></li>
	</ul>
</nav>
