---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

interface Props {
	path?: string;
}

const { path } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav aria-label="Main Menu">
	<ul>
		<li><a href={translatePath('/#')}>{t('nav.home')}</a></li>
		<li>
			<a href={translatePath('/#about')}>{t('nav.about')}</a>
		</li>
		<li><a href={translatePath('/#photos')}>{t('nav.photos')}</a></li>
		<li><a href={translatePath('/#videos')}>{t('nav.videos')}</a></li>
		<li><a href={translatePath('/#contact')}>{t('nav.contact')}</a></li>
	</ul>
</nav>
