<section id="videos">
	<h2 class="screen-reader-text">Videos</h2>
	<!-- add param `?rel=0` to src to avoid related content at the end of the video (https://developers.google.com/youtube/player_parameters#rel) -->
	<iframe class="video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/8J6_-tpnMps?rel=0&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<iframe class="video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/8UVePQ-54BQ?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<iframe class="video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/QmmvKESfEsU?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>
