<section id='contact'>
	<header><h2 class='screen-reader-text'>Contact</h2>
		<picture>
			<source srcset='/assets/img/contact-400.avif 450w, /assets/img/contact-1920.avif' type='image/avif' />
			<source srcset='/assets/img/contact-400.webp 450w, /assets/img/contact-1920.webp' type='image/webp' />
			<source srcset='/assets/img/contact-400.jpg 450w, /assets/img/contact-1920.jpg' type='image/jpg' />
			<img src='/assets/img/contact-400.jpg' width='5583' height='3167' loading='lazy' alt='' />
		</picture>
		<div class='subtitle'>Looking forward to hear from you...</div>
	</header>

	<div class='vcard'>
		<picture>
			<source srcset='/assets/img/profile-100.avif 450w, /assets/img/profile-400.avif' type='image/avif' />
			<source srcset='/assets/img/profile-100.webp 450w, /assets/img/profile-400.webp' type='image/webp' />
			<source srcset='/assets/img/profile-100.jpg 450w, /assets/img/profile-400.jpg' type='image/jpg' />
			<img
				class='photo'
				src='/assets/img/profile-400.jpg'
				width='1945'
				height='1945'
				loading='lazy'
				alt="Manuel's profile picture"
			/></picture>
		<div class='fn'>Manuel Hamel Photography</div>
		<div class='adr'>
			<span class='street-address'>Carrer de Montmany 10</span><br />
			<span class='postal-code'>08012</span>
			<span class='locality'>Barcelona</span><br />
			<span class='country-name'>España</span>
		</div>
		<div class='tel'>+34 618 03 80 87</div>
		<div class='tel'>+32 470 63 15 09</div>
		<a class='email' href='mailto:manuel@mh-photography.com'>manuel@mh-photography.com</a><br />
		<a class='url' href='https://mh-photography.com'>mh-photography.com</a>
	</div>
</section>