<div class='copyright'>© 2020-{{currentYear}} Manuel Hamel Photography</div>
<div class='version'>
	<a href='https://github.com/Th3S4mur41/mh-photography.com/releases/tag/{{version}}'>{{version}}</a>
</div>
<div class='social'>
	<a
		target='_blank'
		title='Manuel Hamel Photography on Facebook'
		aria-label='Manuel Hamel Photography on Facebook'
		rel='external noopener'
		href='https://www.facebook.com/ManuelHamelPhotography'
	>
		Facebook
	</a>
	<a
		target='_blank'
		title='@manuel.image on Instgagram'
		aria-label='@manuel.image on Instgagram'
		rel='external noopener'
		href='https://www.instagram.com/manupictures.bcn'
	>
		Instagram
	</a>
	<a
		target='_blank'
		title='Manuel Hamel Photography on Messenger'
		aria-label='Manuel Hamel Photography on Messenger'
		rel='external noopener'
		href='https://m.me/ManuelHamelPhotography'
	>
		Messenger
	</a>
	<a
		target='_blank'
		title='Contact Manuel on WhatsApp'
		aria-label='Contact Manuel on WhatsApp'
		rel='external noopener'
		href='https://api.whatsapp.com/send?phone=+32470631509'
	>
		WhatsApp
	</a>
	<a
		target='_blank'
		title='Find Manuel on Google Maps'
		aria-label='Find Manuel on Google Maps'
		rel='external noopener'
		href='https://g.page/r/CQeEB11FTu1vEBA'
	>
		Google Maps
	</a>
</div>