:root {
	color-scheme: dark light;

	/**
	 * Theme specific colors
	 */
	--color-accent: hsl(28 32% 88%);
	--color-accent-50: hsl(40 27.3% 97.8%);
	--color-accent-100: hsl(32.7 29.7% 92.7%);
	--color-accent-200: hsl(31.8 19.1% 82.5%);
	--color-accent-300: hsl(32 10.9% 73.1%);
	--color-accent-400: hsl(34.3 8.8% 68.6%);
	--color-accent-500: hsl(32.7 4.7% 53.9%);
	--color-accent-600: hsl(33.3 4% 44.1%);
	--color-accent-700: hsl(34.3 3.7% 36.7%);
	--color-accent-800: hsl(40 4.1% 29%);
	--color-accent-900: hsl(36 4.3% 22.9%);
	--color-light: hsl(0 0% 100%);
	--color-dark: hsl(0 0% 0%);
	--color-grey-50: hsl(0 0% 98%);
	--color-grey-100: hsl(0 0% 92.9%);
	--color-grey-200: hsl(0 0% 83.1%);
	--color-grey-300: hsl(0 0% 73.7%);
	--color-grey-400: hsl(0 0% 69%);
	--color-grey-500: hsl(0 0% 54.5%);
	--color-grey-600: hsl(0 0% 44.7%);
	--color-grey-700: hsl(0 0% 37.3%);
	--color-grey-800: hsl(0 0% 29.4%);
	--color-grey-900: hsl(0 0% 23.1%);

	/**
   * Dark mode (default)
   */
	--color-bg: hsl(0 0% 0%);
	--color-bg-secondary: hsl(0 0% 10%);
	--color-onbg: hsl(0 0% 95%);
	--color-onbg-subtle: hsl(0 0% 60%);
	--color-onbg-secondary: hsl(0 0% 85%);
	--color-overlay: hsl(0 0% 0% / 0.3);
	--color-overlay-fallback: hsl(0 0% 0% / 0.9);
	--color-shadow: hsl(0 0% 100% / 0.3);

	/**
   * Elements
   */
	--link-color: currentcolor;
	--link-color--hover: currentcolor;
	--link-color--active: currentcolor;

	/**
   * Light mode
   */
	@media (prefers-color-scheme: light) {
		--color-bg: hsl(0 0% 100%);
		--color-bg-secondary: hsl(0 0% 90%);
		--color-onbg: hsl(0 0% 5%);
		--color-onbg-subtle: hsl(0 0% 15%);
		--color-onbg-secondary: hsl(0 0% 25%);
		--color-overlay: hsl(0 0% 100% / 0.3);
		--color-overlay-fallback: hsl(0 0% 100% / 0.9);
		--color-shadow: hsl(0 0% 0% / 0.3);
	}
}

::backdrop {
	--color-overlay: hsl(0 0% 0% / 0.7);
	--color-overlay-fallback: hsl(0 0% 0% / 0.9);

	@media (prefers-color-scheme: light) {
		--color-overlay: hsl(0 0% 100% / 0.3);
		--color-overlay-fallback: hsl(0 0% 100% / 0.9);
	}
}
