:root {
	color-scheme: light dark;

	/**
	 * Theme specific colors
	 * base: #D5C4AC
	 */

	/* Primary */
	--color-accent-50: oklch(95% 0.01 73);
	--color-accent-100: oklch(90% 0.01 73);
	--color-accent-200: oklch(85% 0.01 73);
	--color-accent-300: oklch(75% 0.01 73);
	--color-accent-400: oklch(65% 0.01 73);
	--color-accent-500: oklch(50% 0.01 29);
	--color-accent-600: oklch(40% 0.01 29);
	--color-accent-700: oklch(30% 0.01 29);
	--color-accent-800: oklch(20% 0.01 29);
	--color-accent-900: oklch(10% 0.01 29);

	/* Grey */
	--color-grey-50: oklch(95% 0 0);
	--color-grey-100: oklch(90% 0 0);
	--color-grey-200: oklch(85% 0 0);
	--color-grey-300: oklch(75% 0 0);
	--color-grey-400: oklch(65% 0 0);
	--color-grey-500: oklch(55% 0 0);
	--color-grey-600: oklch(45% 0 0);
	--color-grey-700: oklch(35% 0 0);
	--color-grey-800: oklch(25% 0 0);
	--color-grey-900: oklch(15% 0 0);
	--color-white: oklch(100% 0 0);
	--color-black: oklch(0% 0 0);

	/**
	 * Light mode (default)
	 */
	--color-accent: var(--color-accent-700);
	--color-bg: var(--color-accent-50);
	--color-bg-secondary: var(--color-accent-100);
	--color-text: var(--color-accent-900);
	--color-text-secondary: var(--color-accent-800);
	--color-button-bg: var(--color-accent-700);
	--color-button-bg--hover: var(--color-accent-600);
	--color-button-bg--active: var(--color-accent-800);
	--color-button-text: var(--color-accent-50);
	--color-button-text--hover: var(--color-accent-50);
	--color-button-text--active: var(--color-accent-50);
	--color-onpicture: var(--color-grey-50);
	--color-bg-onpicture: oklch(15% 0.01 46 / 0.2);
	--color-overlay: oklch(95% 0.01 46 / 0.7);
	--color-overlay-fallback: oklch(95% 0.01 46 / 0.9);
	--color-shadow: oklch(15% 0.01 46 / 0.3);
	--color-picture-border: var(--color-white);
	--color-text-on-picture-border: var(--color-black);

	/**
	 * Elements
	 */
	--link-color: currentcolor;
	--link-color--hover: currentcolor;
	--link-color--active: currentcolor;

	/**
	 * Filters
	 */
	--lightness: 0.8;

	/**
	 * Dark mode
	 */
	@media (prefers-color-scheme: dark) {
		--color-accent: var(--color-grey-200);
		--color-bg: var(--color-grey-900);
		--color-bg-secondary: var(--color-grey-800);
		--color-text: var(--color-grey-50);
		--color-text-secondary: var(--color-grey-100);
		--color-button-bg: var(--color-grey-800);
		--color-button-bg--hover: var(--color-grey-700);
		--color-button-bg--active: var(--color-grey-800);
		--color-button-text: var(--color-grey-50);
		--color-button-text--hover: var(--color-grey-50);
		--color-button-text--active: var(--color-grey-50);
		--color-overlay: oklch(15% 0 46 / 0.7);
		--color-overlay-fallback: oklch(15% 0 46 / 0.9);
		--color-shadow: oklch(95% 0 46 / 0.02);
	}
}

::backdrop {
	--color-overlay: oklch(95% 0.01 46 / 0.7);
	--color-overlay-fallback: oklch(95% 0.01 46 / 0.9);

	@media (prefers-color-scheme: dark) {
		--color-overlay: oklch(15% 0 46 / 0.7);
		--color-overlay-fallback: oklch(15% 0 46 / 0.9);
	}
}
