@import url('~/@fontsource/titillium-web/latin.css');

:root {
	--font-family: sans-serif;
	--font-family-monospace: monospace;

	/* stylelint-disable-next-line media-feature-name-no-unknown */
	@media (prefers-reduced-data: no-preference) {
		--font-family: 'Titillium Web', sans-serif; /* TODO: Add improved fallback */

		/* --font-family-monospace: 'Cascadia Code', 'Cascadia Code-fallback', monospace; */
	}

	/* font size */
	--font-size-s: clamp(0.75rem, 1.5vw, 1rem);
	--font-size-m: clamp(1rem, 2vw, 1.5rem);
	--font-size-l: clamp(1.25rem, 2.5vw, 2rem);
	--font-size-xl: clamp(1.5rem, 3vw, 2.5rem);
	--font-size-header-xl: clamp(3.5rem, 12vw, 10rem);

	/* font weight */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
}
