@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,200);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  font-weight: 200;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 10px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header {
  height: 130px;
  background: #FFFFFF; }
  header .logo {
    padding-top: 10px;
    height: 90px;
    width: 425px;
    background: #FFFFFF; }
  header nav a {
    margin: auto;
    display: inline-black;
    margin: 40px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: black; }
    header nav a:hover {
      color: #4C0000; }

body {
  background: white; }

footer {
  background: white;
  position: relative;
  height: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }
  footer .socialmediaicons {
    margin-top: 3px;
    height: 45px;
    width: 150px;
    background: white; }
    footer .socialmediaicons .instagram {
      height: 30px;
      width: 30px; }
    footer .socialmediaicons .facebook {
      float: left;
      height: 30px;
      width: 30px; }
    footer .socialmediaicons .mail {
      float: right;
      height: 30px;
      width: 30px; }

.cycle-slideshow {
  width: 941px;
  height: 590px;
  display: block;
  position: relative;
  margin: 0px auto;
  overflow: hidden; }

.cycle-slideshow img {
  width: 100%;
  /*height: 100%;*/
}

.cycle-prev, .cycle-next {
  font-size: 400%;
  color: #FFF;
  display: block;
  position: absolute;
  top: 40%;
  z-index: 99999;
  margin-top: -16px;
  cursor: pointer; }

.cycle-prev {
  left: 0.5%; }

.cycle-next {
  right: 0.5%; }

.cycle-pager {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 9999;
  cursor: pointer; }

.cycle-pager span {
  text-indent: 100%;
  white-space: nowrap;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px; }

.cycle-pager .cycle-pager-active {
  background: #FFF; }

.image01 {
  background: url(slideshowimages/01.jpg) no-repeat;
  background-size: cover; }

.image02 {
  background: url(slideshowimages/02.jpg) no-repeat;
  background-size: cover; }

.image03 {
  background: url(slideshowimages/03.jpg) no-repeat;
  background-size: cover; }

.image04 {
  background: url(slideshowimages/04.jpg) no-repeat;
  background-size: cover; }

.image05 {
  background: url(slideshowimages/05.jpg) no-repeat;
  background-size: cover; }

.image06 {
  background: url(slideshowimages/06.jpg) no-repeat;
  background-size: cover; }

.image07 {
  background: url(slideshowimages/07.jpg) no-repeat;
  background-size: cover; }

.image08 {
  background: url(slideshowimages/08.jpg) no-repeat;
  background-size: cover; }

.image09 {
  background: url(slideshowimages/09.jpg) no-repeat;
  background-size: cover; }

.image10 {
  background: url(slideshowimages/10.jpg) no-repeat;
  background-size: cover; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

label[for] {
  cursor: pointer; }

.grid {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 16px;
  overflow: auto;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s; }

.grid .grid-item {
  width: 33.3%;
  display: inline-block;
  padding: 16px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

.grid .grid-item:hover {
  opacity: 1; }

@media screen and (max-width: 1024px) {
  .grid .grid-item {
    width: 50%; } }
@media screen and (max-width: 480px) {
  .grid .grid-item {
    width: 100%; } }
.grid img {
  max-width: 100%;
  max-height: 100%; }

input[type="checkbox"] {
  display: none; }

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .75s ease-out;
  transition: transform .75s ease-out; }

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); }

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

input[type="checkbox"]:checked ~ .grid {
  opacity: .125; }

#background {
  width: 941px;
  /*height: 590px;*/
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
  overflow: hidden;
  margin: 0px auto;
  opacity: 40%; }

.stretch {
  width: 100%;
  height: 100%; }

#text {
  z-index: 100;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  left: 100px;
  right: 100px;
  top: 70px;
  text-shadow: 1px 1px 2px #FFF;
  text-align: justify;
}

#texthead {
  z-index: 100;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  top: 10px;
  text-shadow: 1px 1px 2px #FFF;}
