<!-- Meta -->

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name='HandheldFriendly' content='false' />
<meta name='color-scheme' content='dark light' />
<link rel='manifest' href='manifest.webmanifest' />

<title>{{pageTitle title}}</title>
<meta name='author' content='Manuel Hamel' />
<meta
	name='keywords'
	content='photography, photographer, Manuel Hamel, weddings, people, lifestyle, travel, families, kids, business, studio, photo, portrait, art, artistic, pictures, photoshop, Barcelona'
/>
<!-- TODO: Update descriptkeywordsion -->
<meta
	name='description'
	content='Belgian photographer, based in Barcelona, who loves to capture moments and to travel!'
/>
<!-- TODO: Update description -->
<meta name='copyright' content='© 2020-{{currentYear}} Manuel Hamel Photography' />

<meta name='robots' content='index, follow' />

<!-- Performance -->
<link rel='dns-prefetch' href='//static.cloudflareinsights.com' />