html {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	/* Handle the notch on the iPhone */
	padding-block: env(safe-area-inset-top) env(safe-area-inset-bottom);
	padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
	background-color: var(--color-bg);
	color: var(--color-onbg);
	font-family: var(--font-family);
	font-size: var(--font-size-m);

	/* Additional smoothing fixes for MacOS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: var(--font-weight-normal);
	accent-color: var(--color-accent);
}

/**
 * Generic classes that don't fit in elements or components
 */

.overlay {
	background: var(--color-overlay-fallback);

	@supports (backdrop-filter: blur(30px) saturate(125%)) {
		/* Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb */
		backdrop-filter: blur(30px) saturate(125%);
		background: var(--color-overlay);
	}
}

.subtitle {
	font-family: var(--font-family-header);
	font-size: var(--font-size-header-m);
	font-weight: var(--font-weight-light);
	text-align: center;
	text-wrap: balance;
}
