.vcard {
	display: grid;
	grid-template:
		'photo name'
		'photo address'
		'photo phone'
		'photo email'
		'photo url';
	gap: var(--spacing-m) var(--spacing-l);

	& > :is(picture, .photo) {
		grid-area: photo;
		block-size: auto;
		max-inline-size: 5em;
		justify-self: end;
	}
	& img.photo {
		max-inline-size: 5em;
		aspect-ratio: 1;
		object-fit: cover;
		border: 2px solid currentcolor;
		border-radius: 50%;
	}
	& > .fn {
		grid-area: name;
		font-size: var(--font-size-l);
		font-weight: var(--font-weight-bold);
	}
	& > .adr {
		grid-area: address;
	}
}
