.vcard {
	display: grid;
	grid-template:
		"name name name name"
		"photo . address-link address"
		"photo . phone-1-link phone-1"
		"photo . phone-2-link phone-2"
		"photo . email-link email"
		"photo . url-link url" / auto auto auto 1fr;
	gap: var(--spacing-m) var(--spacing-m);

	& > :is(picture, .photo) {
		grid-area: photo;
		block-size: auto;
		max-inline-size: 5em;
		justify-self: end;
	}
	& img.photo {
		max-inline-size: 5em;
		aspect-ratio: 1;
		object-fit: cover;
		border: 2px solid currentcolor;
		border-radius: 50%;
	}
	& > .fn {
		grid-area: name;
		font-size: var(--font-size-xl);
		font-weight: var(--font-weight-bold);
	}
	& > .adr {
		grid-area: address;
	}
	& > .phone-1 {
		grid-area: phone-1;
	}
	& > .phone-2 {
		grid-area: phone-2;
	}
	& > .email {
		grid-area: email;
	}
	& > .url {
		grid-area: url;
	}
	& > .address-link {
		grid-area: address-link;
		align-self: center;
	}
	& > .phone-1-link {
		grid-area: phone-1-link;
		align-self: center;
	}
	& > .phone-2-link {
		grid-area: phone-2-link;
		align-self: center;
	}
	& > .email-link {
		grid-area: email-link;
		align-self: center;
	}
	& > .url-link {
		grid-area: url-link;
		align-self: center;
	}
}
